.main {
    position: fixed;
    margin-top: 6%;
    width: 100%;
    z-index: 20;
    background-color: white;


}

.sub_main {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    padding-top: 1%;
    /* padding-bottom: 3%; */
    border-bottom: 1px solid lightgrey;
    height: 30px;
}

.inner:hover {
    color: rgb(211, 97, 146)
}

.sub_categories {
    margin-bottom: 5%;
    width: auto;
    font-size: 16px;
}

.sub_categories:hover {
    color: rgb(158, 58, 101)
}



.displayHover {
    /* background-color: white; */
    border-radius: 5px;
    width: 100%;
    padding-top: 2%;
    z-index: 10;
    margin-left: -7%;
    padding: 10px 20px 20px;
    position: relative;
    display: none;
    margin-right: 2%;
    cursor: pointer;


}

.inner:hover .displayHover {
    display: block;
    padding-bottom: 5%;
    background-color: rgb(247, 247, 247);
    width: auto;
    margin-left: -1%;
    margin-top: 20px;
}

.sub_categories:hover .displayHover {
    display: block;
    background-color: rgb(247, 247, 247);
    padding-bottom: 5%;
    width: auto;
}

.data {
    margin-right: 2%;
    display: inline-block;
}

.data>h5 {
    font-size: medium;
}

.data_2 {
    margin-right: 3%;
    display: inline-block;
}

.data_2>h5 {
    font-size: medium;
}

.a {
    text-decoration: none;
}